[submodule "components/vim/bundle/neobundle.vim"]
	path = components/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "components/nvim/dein.vim"]
	path = components/nvim/dein.vim
	url = https://github.com/Shougo/dein.vim
