[submodule "components/nvim/dein.vim"]
	path = components/nvim/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "components/awesome/vicious"]
	path = components/awesome/vicious
	url = https://github.com/mic92/vicious.git
[submodule "components/awesome/lain"]
	path = components/awesome/lain
	url = https://github.com/copycat-killer/lain.git
